node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json

# Omgevingsvariabelen (nooit pushen!)
.env
.env.local

# Gegenereerde Prisma client
/src/generated/prisma